
<div class="row">
    <div class="col">
        <p>Lista de cafés</p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let coffee of coffees | async as value">{{coffee.roaster}} | {{coffee.active}} | {{coffee.grind}}</li>
        </ul>
    </div>
</div> 
<!-- <ul >
    <li >An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->