<form class="border mt-2">
    <div class="row mb-2 m-2">
        <div class="col mt-3">
            <button type="button" class="btn btn-primary">New Order</button>
        </div>
        <!--  -->
        <div class="col">
            <label for="txtRoaster">Filter by Roaster</label>
            <input id="txtRoaster" type="text" class="form-control" [(ngModel)]="filterFields.roaster" name="txtRoaster"
                (keyup)="getFiltered()">
        </div>
        <div class="col">
            <label for="txtSize">Filter by Size</label>
            <input id="txtSize" type="number" class="form-control" [(ngModel)]="filterFields.size" name="txtSize"
                (keyup)="getFiltered()">
        </div>
        <div class="col">
            <label for="txtRoast">Filter by Roast</label>
            <input id="txtRoast" type="text" class="form-control" [(ngModel)]="filterFields.roast" name="txtRoast"
                (keyup)="getFiltered()">
        </div>
        <div class="col">
            <label for="txtFormat">Filter by Format</label>
            <input id="txtFormat" type="text" class="form-control" [(ngModel)]="filterFields.format" name="txtFormat"
                (keyup)="getFiltered()">
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Roaster</th>
            <th scope="col">Size</th>
            <th scope="col">Roast</th>
            <th scope="col">Format</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coffee of getFiltered()">
            <th scope="row">{{coffee.id}}</th>
            <td>{{coffee.roaster}}</td>
            <td>{{coffee.size}}</td>
            <td>{{coffee.roast}}</td>
            <td>{{coffee.format}}</td>
            <td>
                <button type="button" class="btn btn-default" data-bs-toggle="tooltip" title="Edit">
                    <img src="/assets/edit.svg" alt="Bootstrap" width="20" height="18">
                </button>
                <button type="button" class="btn btn-default" data-bs-toggle="tooltip" title="Delete">
                    <img src="/assets/delete.svg" alt="Bootstrap" width="20" height="18">
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row align-text-bottom">
    <div class="col">
        Page {{this.pagSelect}} of {{this.pagCount}} ({{this.pagTItems}} items)
    </div>
    <div class="col">
        <nav *ngIf="this.pagTItems > this.pagNItems">

            <div *ngIf="this.pagCount > 11">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" (click)="setSlice(this.pagSelect-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li *ngFor="let page of [].constructor(11); let numPage = index" class="page-item">
                        <a *ngIf="(numPage+1)===6" class="page-link disabled">...</a>
                        <a *ngIf="(numPage+1)!=6" class="page-link" (click)="setSlice(numPage+1)">{{numPage+1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" (click)="setSlice(this.pagSelect+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="this.pagCount < 10">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" (click)="setSlice(this.pagSelect-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li *ngFor="let page of [].constructor(this.pagCount); let numPage = index" class="page-item">
                        <a class="page-link" (click)="setSlice(numPage+1)">{{numPage+1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" (click)="setSlice(this.pagSelect+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>


        </nav>
    </div>
</div>