<form class="border mt-2">
    <div class="row mb-2 m-2">
        <div class="col mt-3">
            <button type="button" class="btn btn-primary">+ New Order</button>
        </div>
        <div class="col">
            <label for="txtRoaster">Filter by Roaster</label>
            <input id="txtRoaster" type="text" class="form-control">
        </div>
        <div class="col">
            <label for="txtSize">Filter by Size</label>
            <input id="txtSize" type="text" class="form-control">
        </div>
        <div class="col">
            <label for="txtRoast">Filter by Roast</label>
            <input id="txtRoast" type="text" class="form-control">
        </div>
        <div class="col">
            <label for="txtFormat">Filter by Format</label>
            <input id="txtFormat" type="text" class="form-control">
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Roaster</th>
            <th scope="col">Size</th>
            <th scope="col">Roast</th>
            <th scope="col">Format</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coffee of coffees | async as value">
            <th scope="row">{{coffee.id}}</th>
            <td>{{coffee.roaster}}</td>
            <td>{{coffee.size}}</td>
            <td>{{coffee.roast}}</td>
            <td>{{coffee.format}}</td>
            <td>
                <i>Edit</i>
            </td>
        </tr>
    </tbody>
</table>