.bg-light {
    border-top: 1px solid black; 
    padding-bottom: 10px; 
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; 
    color: black
    
  }

 
  .navbar {
    border-bottom: 1px solid black; 
    padding-bottom: 10px; 
}

.h1-tittle {
    font-weight: bold;
    color: black;
}

.menu-center {
    padding-left: 400px;
   
}

.nav-item {
    margin-right: 20px; 
  }

  .nav-item .nav-link:hover {
    background-color: #f8f9fa;
    color: red; 
    transition: background-color 0.3s, color 0.3s; 
  }

  .bg-light {
    border-top: 1px solid black; 
    padding-bottom: 10px; 
  }
  
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; 
    color: black;
    height: 13vh;
    margin-left: auto;
    margin-right: auto;
    
    
  }

  .header-p {

    font-size: 15px;
  }

  .column-adjust {
    display: flex;
   flex-direction: row;
   gap: 20px;
   margin-left: 30px;
  }

  .column-adjust2 {
    display: flex;
   flex-direction: row;
   gap: 20px;
   margin-left: 100px;
  }