<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div>
		<a  class="navbar-brand"  uiSref="coffee-detail" uiSrefActive="active"> 	Create Coffee</a>
		<a  class="navbar-brand"  uiSref="orders" uiSrefActive="active"> 	Coffee List</a>
	</div>
</nav>
<app-alert-message></app-alert-message>-->




	<nav class="navbar navbar-expand-lg navbar-light bg-light border-line">
		<div class="container-fluid bordar">
		  <a class="navbar-brand fw-bold" href="#">Expeditors Coffee</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse menu-center" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item me-4">
          <a class="nav-link menu-item" href="/">Home</a>
					
				  </li>
				  <li class="nav-item me-4">
					<a class="nav-link menu-item" uiSref="orders" uiSrefActive="active">Catalog</a>
				  </li>
				  <li class="nav-item me-4">
					<a class="nav-link menu-item " href="/about-detail">About</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link menu-item" href="/coffee-detail">New Coffee</a>
				  </li>
			</ul>
			<form class="d-flex">
			  <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
			  <button class="btn btn-outline-success" type="submit">Login</button>
			</form>
		  </div>
		</div>
	  </nav>
	
    <app-alert-message></app-alert-message>
	  <ui-view></ui-view> 

    <footer class="bg-light text-center text-p-start mt-auto">
      <div class="container p-2">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Expeditors Coffee</h5>
            <p class="header-p">
              Expeditors Coffee is the perfect place for coffee and food lovers. Located in the heart of the city, we offer a unique gastronomic experience with fresh ingredients and authentic flavors.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-0 column-adjust">
              <li>
                <a  href="#" class="text-dark">Home</a>
              </li>
              <li>
                <a href="#" class="text-dark">Menu</a>
              </li>
              <li>
                <a href="#" class="text-dark">About</a>
              </li>
              <li>
                <a href="#" class="text-dark">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
            <ul class="list-unstyled mb-0 column-adjust2">
              <li>
                <a href="#" class="text-dark">Email</a>
              </li>
              <li>
                <a href="#" class="text-dark">Phone</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Expeditors Coffee. All rights reserved.
      </div>
    </footer>  
	
