<div class="imagem-center">
    <img src="../../assets/2fd0ce17189899.562b6ef38bc36.jpg" alt="test">
</div> 

<footer class="bg-light text-center text-m-start mt-auto">
    <div class="container p-2">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Expeditors Coffee</h5>
          <p>
            Expeditors Coffee is the perfect place for coffee and food lovers. Located in the heart of the city, we offer a unique gastronomic experience with fresh ingredients and authentic flavors.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0 row">
            <li>
              <a href="#" class="text-dark">Home</a>
            </li>
            <li>
              <a href="#" class="text-dark">Menu</a>
            </li>
            <li>
              <a href="#" class="text-dark">About</a>
            </li>
            <li>
              <a href="#" class="text-dark">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-dark">Email</a>
            </li>
            <li>
              <a href="#" class="text-dark">Phone</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Expeditors Coffee. All rights reserved.
    </div>
  </footer> 
  