.imagem-center img{
    width: 100%;
    align-items: center;
    height: 85vh;

}

img {
  max-width: 100;
}

.bg-light {
    border-top: 1px solid black; 
    padding-bottom: 10px; 
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; 
    color: black;
    height:13vh;
    
  }